<ul>
    {{#each suggestedProds}}
        <span>Listado de cliente {{this.id}}</span>
        <li>{{this.title}}</li>
        <li>{{this.price}}</li>
        <li>{{this.thumbnail}}</li>
    {{/each}}
</ul>